$white: #FFF;
$black : #222;
$lightBlack:#3C3C3C;
$grey0:#FAFAFA;
$grey1:#F2F2F2;
$grey2: #E3E3E3;
$grey3: #A5A5A5;
$grey4:#D9D9D9;

$buttonGrey:#E9E9E9;
$buttonBorder:#CCC;

$orange: #f50;

html,
body,
#content,
.dropbar__content,
.sound__soundActions,
.l-footer,
.listenLogin {
    background-color: $black;
}

body {
    background:none;
}

a.sc-link-dark,
.sc-text-light,
.sc-text-verylight {
    color: $grey1;
}

a.sc-link-dark:hover,
.g-tabs-link:hover,
a.sc-link-medium:hover,
a.sc-ministats:hover,
a.sc-link-light:hover {
    color:$orange;
}

.truncatedUserDescription.m-overflow.m-collapsed .truncatedUserDescription__wrapper::after,
.truncatedAudioInfo.m-overflow.m-collapsed .truncatedAudioInfo__wrapper::after {
    background:none;
}

h1,
.infoStats__description,
.listenDetails,
.commentItem__body,
.compactTrackListItem__number, .compactTrackListItem__trackTitle,
.sc-link-dark,
.commentBadge__body,
.commentBadge__title,
.embedPanel,
.g-modal-title-h2,
.localSelector .sc-text,
.g-tabs-link,
.g-tabs-link:visited,
.ownActivitiesList__item .commentTitle__quotedBody {
    color:$white;
}

body .commentPopover__wrapper .commentPopover__body {
    color:$white !important;
}

.g-tabs-link.active {
    color:$orange;
}

.l-fixed-top-one-column > .l-top {
    background-color:$black;
    a {
        color:$grey1;
    }
}

.sc-border-light,
.sc-border-light-bottom {
    border-bottom-color:$grey4;
}

.compactTrackList.sc-border-light,
.listenEngagement {
    border:none;
}

.compactTrackListItem__content:hover .compactTrackListItem__trackTitle,
.sc-type-light.hover .trackItem__trackTitle,
.chartTracks__item:hover .chartTrack__details .sc-link-dark,
.linkMenu__item .sc-link-dark {
    color:$black;
}

.compactTrackListItem__additional,
.trackItem__additional {
    background:none;
}


.commentForm {
    background: $black none repeat scroll 0,0;
}

.conversation {
    .conversation__actions {
        background:none;
        background-color:$black;
    }

    color: $white;
}

.inbox__item {
    .inboxItem.active,
    .inboxItem.unread {
        .conversationParticipants__list {
            color:$black;
        }
    }
}

.l-messages-left {
    h1,
    .messageGroupTitle {
        color:$white;
    }
}

.soundBadge__additional {
    background:none;
    background-color:$black;
}

.modal__content .tabs {
    .tabs__tabs,
    .g-modal-section {
        background:none;
        background-color:$black;
    }
}

body .addToPlaylistItem__actions {
    background:none !important;
}

.dialog {
    background-color:$black;
    box-shadow:0px 0px 2px 0px $grey0;
    color:$grey1;

    .sc-ministats:hover {
        color:$orange;
    }

}

p {
    color:$white;
}

.playControls {
    & > .playControls__inner {
        background-color:$lightBlack;

        .playControls__wrapper {
            background-color:$lightBlack;

            & > .playControls__bg {
                background-color:$lightBlack;
            }

            .playControls__elements {
                .playControls__icon {

                    &.skipControl__previous {
                        background-image:url('img/prev.svg');
                        background-size:75% 30%;
                    }

                    &.skipControl__next {
                        background-image:url('img/next.svg');
                        background-size:75% 30%;
                    }

                    &.playControls__play {
                        background-image:url('img/play.svg');
                        background-size:40% 40%;
                        &.playing {
                            background-image:url('img/pause.svg');
                        }
                    }

                }

                .playControls__volume {
                    .volume__button {
                        background-image:url('img/volume.svg');
                        background-size:100% 40%;
                    }
                    & > .volume {
                        &[data-level="0"] {
                            .volume__button {
                                background-image:url('img/volume-off.svg');
                            }
                        }
                        &[data-level="1"],
                        &[data-level="2"],
                        &[data-level="3"],
                        &[data-level="4"],
                        &[data-level="5"] {
                            .volume__button {
                                background-image:url('img/volume-down.svg');
                            }
                        }

                    }

                    .volume__sliderWrapper {
                        left:-6px;
                    }

                }

                .playControls__soundBadge {
                    .playbackSoundBadge__title {
                        color:$white;
                    }
                }

            }

        }
    }
}

.modal {

    .modal__modal {
        background-color:$lightBlack;
        color:$white;
    }

}

textarea,
select,
input {
    background-color:$grey4;
    color:$black;
}

.keyboardShortcuts__shortcutsGroup > dl > dt > kbd > kbd {
    color:$black;
}

