html,
body,
#content,
.dropbar__content,
.sound__soundActions,
.l-footer,
.listenLogin {
  background-color: #222; }

body {
  background: none; }

a.sc-link-dark,
.sc-text-light,
.sc-text-verylight {
  color: #F2F2F2; }

a.sc-link-dark:hover,
.g-tabs-link:hover,
a.sc-link-medium:hover,
a.sc-ministats:hover,
a.sc-link-light:hover {
  color: #f50; }

.truncatedUserDescription.m-overflow.m-collapsed .truncatedUserDescription__wrapper::after,
.truncatedAudioInfo.m-overflow.m-collapsed .truncatedAudioInfo__wrapper::after {
  background: none; }

h1,
.infoStats__description,
.listenDetails,
.commentItem__body,
.compactTrackListItem__number, .compactTrackListItem__trackTitle,
.sc-link-dark,
.commentBadge__body,
.commentBadge__title,
.embedPanel,
.g-modal-title-h2,
.localSelector .sc-text,
.g-tabs-link,
.g-tabs-link:visited,
.ownActivitiesList__item .commentTitle__quotedBody {
  color: #FFF; }

body .commentPopover__wrapper .commentPopover__body {
  color: #FFF !important; }

.g-tabs-link.active {
  color: #f50; }

.l-fixed-top-one-column > .l-top {
  background-color: #222; }
  .l-fixed-top-one-column > .l-top a {
    color: #F2F2F2; }

.sc-border-light,
.sc-border-light-bottom {
  border-bottom-color: #D9D9D9; }

.compactTrackList.sc-border-light,
.listenEngagement {
  border: none; }

.compactTrackListItem__content:hover .compactTrackListItem__trackTitle,
.sc-type-light.hover .trackItem__trackTitle,
.chartTracks__item:hover .chartTrack__details .sc-link-dark,
.linkMenu__item .sc-link-dark {
  color: #222; }

.compactTrackListItem__additional,
.trackItem__additional {
  background: none; }

.commentForm {
  background: #222 none repeat scroll 0, 0; }

.conversation {
  color: #FFF; }
  .conversation .conversation__actions {
    background: none;
    background-color: #222; }

.inbox__item .inboxItem.active .conversationParticipants__list,
.inbox__item .inboxItem.unread .conversationParticipants__list {
  color: #222; }

.l-messages-left h1,
.l-messages-left .messageGroupTitle {
  color: #FFF; }

.soundBadge__additional {
  background: none;
  background-color: #222; }

.modal__content .tabs .tabs__tabs,
.modal__content .tabs .g-modal-section {
  background: none;
  background-color: #222; }

body .addToPlaylistItem__actions {
  background: none !important; }

.dialog {
  background-color: #222;
  box-shadow: 0px 0px 2px 0px #FAFAFA;
  color: #F2F2F2; }
  .dialog .sc-ministats:hover {
    color: #f50; }

p {
  color: #FFF; }

.playControls > .playControls__inner {
  background-color: #3C3C3C; }
  .playControls > .playControls__inner .playControls__wrapper {
    background-color: #3C3C3C; }
    .playControls > .playControls__inner .playControls__wrapper > .playControls__bg {
      background-color: #3C3C3C; }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__icon.skipControl__previous {
      background-image: url("img/prev.svg");
      background-size: 75% 30%; }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__icon.skipControl__next {
      background-image: url("img/next.svg");
      background-size: 75% 30%; }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__icon.playControls__play {
      background-image: url("img/play.svg");
      background-size: 40% 40%; }
      .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__icon.playControls__play.playing {
        background-image: url("img/pause.svg"); }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume .volume__button {
      background-image: url("img/volume.svg");
      background-size: 100% 40%; }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="0"] .volume__button {
      background-image: url("img/volume-off.svg"); }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="1"] .volume__button, .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="2"] .volume__button, .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="3"] .volume__button, .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="4"] .volume__button, .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume > .volume[data-level="5"] .volume__button {
      background-image: url("img/volume-down.svg"); }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__volume .volume__sliderWrapper {
      left: -6px; }
    .playControls > .playControls__inner .playControls__wrapper .playControls__elements .playControls__soundBadge .playbackSoundBadge__title {
      color: #FFF; }

.modal .modal__modal {
  background-color: #3C3C3C;
  color: #FFF; }

textarea,
select,
input {
  background-color: #D9D9D9;
  color: #222; }

.keyboardShortcuts__shortcutsGroup > dl > dt > kbd > kbd {
  color: #222; }

/*# sourceMappingURL=soundcloud.css.map */